<div class="relative text-white">
  <img src="/img/banner.png" alt="" class="w-full" />
  <p
    class="font-pacifico absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-[1.5rem] sm:text-[2rem] w-full text-center drop-shadow-[0_4px_4px_rgba(0,0,0,0.75)]"
  >
    Reaproveche mejor los alimentos
  </p>
</div>
